<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <application

        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:name=".ClassCodeApplication"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Classcode"
        tools:targetApi="31">
        <activity
            android:name=".presentation.login.LoginActivity"
            android:noHistory="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="classcode"
                    android:host="callback" />
            </intent-filter>
        </activity>


        <activity
        android:name=".presentation.errorCallback.UserNotFoundErrorActivity"
        android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="classcode"
                    android:host="callback"
                    android:pathPrefix="/user_not_present/" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.errorCallback.StudentErrorActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="classcode"
                    android:host="callback"
                    android:pathPrefix="/student/" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.errorCallback.PendingTeacherErrorActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="classcode"
                    android:host="callback"
                    android:pathPrefix="/pendingTeacher/" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.errorCallback.PendingStudentErrorActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="classcode"
                    android:host="callback"
                    android:pathPrefix="/pendingStudent/"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.menu.MenuActivity"
            android:exported="true" />

        <activity
            android:name=".presentation.course.CourseActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.classroom.ClassroomActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.bootUp.BootUpActivity"
            android:noHistory="true"
            android:exported="true"
            android:theme="@style/Theme.Classcode">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>